@charset "UTF-8";

@font-face{
    font-family: "great-vibes";
    src: url("../fonts/GreatVibes-Regular.ttf") format("truetype");
}

:root{
    --red: #EB2928;
    --red2: #B81F1F;
    --orange: #F2531D;
    --yellow: #EBCF23;
    --yellow2: #F2B11D;
}

header{
    background-color: var(--red2);
    border: 1px solid var(--red);
    grid-column: 1/13;

    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

header > .title-header{
    margin-left: 10px;
}

.title-header h1{
    display: inline-block;
    margin-left: 10px;
}

.title-header h1:first-child{
    color: var(--yellow2);
}

.title-header h1:last-child{
    color: rgb(255, 0, 0);
    font-family: "great-vibes";
    font-size: 40px;
}

header > .logo-site{
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.logo-site > img{
    border: 1px outset black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

nav{
    background-color: var(--red);
    grid-column: 1/13;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
}

nav > .center-flex{
    display: flex;
    justify-content: space-around;
    gap: 10px;

    width: 20%;
}

.center-flex a{
    font-size: 25px;
    color: rgb(226, 253, 105);
}

.center-flex a:hover{
    transition-duration: 0.3s;
    color: var(--yellow);
}

nav > button{
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10%;

    visibility: hidden;
}

@media screen and (max-width: 800px){
    nav > button{
        visibility: visible;
    }

    nav > .center-flex{
        visibility: hidden;
    }
}