@charset "UTF-8";

@font-face{
    font-family: 'great-vibes';
    src: url(../fonts/GreatVibes-Regular.ttf) format("truetype");
}

@font-face{
    font-family: 'ubuntu-mono';
    src: url(../fonts/UbuntuMono-Regular.ttf) format("truetype");
}

.principal-main{
    grid-column: 3/11;

}

.propagand-pizza-big{
    grid-column: 1/13;
    width: 100%;
    height: 30rem;
}

.container-apresentation{
    display: flex;
    flex-direction: column;

    background-color: white;
    max-width: 35rem;
    min-width: 5rem;
    height: 15rem;
    min-height: 5rem;
    border-top: 3px solid rgb(252, 71, 71);
    border-right: 3px solid rgb(252, 71, 71);
    border-left: 3px solid rgb(252, 71, 71);
    border-bottom: 2px solid rgb(201, 201, 201);
    border-radius: 1rem;

    position: absolute;
    z-index: 1;
    top: 24rem;
    left: 34%;

    text-align: center;
}

.link-apresentation{
    background-color: aquamarine;
    padding: 1rem 2rem;
    border-radius: 1rem;

    position: relative;
    top: 15%;

    font-size: 2rem;
}

.link-apresentation:first-child{
    margin-right: 1rem;
}

.link-apresentation:hover{
    background-color: white;
    border: 1px solid aqua;
    transition-duration: 0.5s;

    color: aqua;
    opacity: 0.9;
}

.link-apresentation:active{
    background-color: rgb(163, 163, 163);
    transition-duration: 0.5s;
}

.apresentation-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-pizza-img{
    display: flex;
    justify-content: space-around;

    max-width: 77.5rem;
    min-width: 20rem;
    max-height: 20rem;
    min-height: 8rem;
    margin-top: 10%;
}

.propagand-pizza-small{
    max-width: 30rem;
    min-width: 10rem;
    max-height: 19rem;
    min-height: 5rem;
    border: 0.5rem outset rgb(168, 70, 70);
}

.propagand-pizza-small:last-child{
    width: 30rem;
}

.container-comments{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    max-width: 77.5rem;
    min-width: 20rem;
    height: 20rem;
    margin-top: 5rem;
}

.container-comment{
    display: flex;
    align-items: center;

    border: 2px solid rgb(78, 78, 78);
    width: 40%;
    height: 6rem;
    border-radius: 5rem;
}

.icon-person-comment{
    width: 5rem;
    height: 5rem;
    margin: 0 1rem;
    border: 4px solid black;
    border-radius: 50%;
}

.text-comment{
    font-family: 'ubuntu-mono';
}

.container-addres{
    width: 15rem;
    height: 15rem;

    position: relative;
    left: 37%;

    text-align: center;
}

.title-addres{
    color: rgb(82, 82, 82);
    text-decoration: underline;
}

.addres{
    font-size: 1.2rem;
    border-bottom: 1px solid black;
}

@media screen and (max-width: 1800px){
    .container-apresentation{

    }

    .link-apresentation{
        padding: 0.8rem 2rem;
        font-size: 1.5rem;
    }

    .icon-person-comment{
        margin: 0 0.5rem;
    }

    .text-comment{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1000px){
    .principal-main{
        grid-column: 1/13;
    }

    .container-apresentation{

    }
}